.card-drink {
  border-radius: 10px;
  width: 80%;
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: rgb(228, 228, 228);
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card-drink-information {
  width: 60%;
}
.card-drink-information-title {
  text-align: center;
}
.card-drink-information-ingredients {
  color: rgb(94, 94, 94);
}
.card-drink-information-ingredients-item {
  margin-bottom: 7px;
}
.card-drink-information-ingredients-textAlt {
  list-style: none;
}
.card-drink-image {
  width: 40%;
  padding: 10px;
}
.card-drink-image > img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 960px) {
  .card-drink {
    max-width: 100%;
  }
}
